%h1 
  = "Annual reports for #{@tenks.ticker}" 
%table.stock-list
  %thead
    %th
      Year
    %th
      Link
  %tbody
    - @tenks.list.sort{ |a,b| b.year <=> a.year }.each do |e|
      %tr
        %td
          = e.year
        %td
          = link_to "Annual Report", e.url

          






